<div class="home">
  <div class="top">
    <div class="left">
      <p class="heading">Anakha Suresh</p>
      <p class="subheading">Frontend Developer</p>
      <p class="logo-sign">&lt;/&gt;</p>
    </div>
    <div class="right">
      <img src="images/logo-girl.png" alt="girl-image" class="girl-img" />
    </div>
  </div>
  <div class="bottom-section">
    <button class="btn first-btn-clr" (click)="navigateToProject(1)">
      Tic-Tac-Toe
    </button>
    <button class="btn second-btn-clr" (click)="navigateToProject(2)">
      FoodDash Code
    </button>
    <button class="btn third-btn-clr" (click)="navigateToProject(3)">
      WeTalk Code
    </button>
  </div>
</div>
