<div class="experience">
  <div class="content">
    <div class="skill">
      <span class="label">Angular</span>
      <mat-progress-bar
        color="accent"
        mode="determinate"
        value="100"
      ></mat-progress-bar>
    </div>
    <div class="skill">
      <span class="label">HTML, CSS</span>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div class="skill">
      <span class="label">React.js</span>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>
    <div class="skill">
      <span class="label">Node.js</span>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>
    <div class="skill">
      <span class="label">Jasmine, Karma</span>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>
  </div>
  <img class="girl-img" src="images/thinking_girl.png" />
</div>
